body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
img {
  display: block;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.button {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* mobile */
.container {
  min-width: 320px; 
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

/* tablet */
@media screen   and (min-width: 768px)  {
  .container {
  min-width:768px; 
  padding-left: 16px;
  padding-right: 16px;
   
  }
}

/* decstop */
@media screen   and (min-width:1158px){
  .container {
  min-width: 1158px; 
  padding-left: 156px;
  padding-right: 156px;
 
  }
}


.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  
    
}
.div-cont {
  display: flex;
  align-items: center;
 justify-content: space-between;
  
  
}


.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.business {
  max-width: 496px;
  margin: 0 auto;
  padding-bottom: 48px;
  padding-top: 68px;
}
@media screen and (max-width: 767px)  {

.header-nav,.header-addres {
  display: none;
  
}

}


.button-burgermenu{
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding:0;
  line-height: 0;
  display: block;
 
}





.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #4d5ae5;
}
.logo-style {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #2e2f42;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  ;
}

.header-nav-item {
}
.header-nav-link {
  position: relative;
  padding: 24px 0px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.line {
  color: #404bbf;
}
.line::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-nav-link:focus,
.header-nav-link:hover {
  color: #404bbf;
}
.header-addres {
  
  margin-left: auto;
  font-style: normal;
}


.header-addres-list{

  display: flex;
}


.header-addres-item {
}
.header-addres-link {
 
  display: block;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}
.header-addres-link:focus,
.header-addres-link:hover {
  color: #404bbf;
}

@media screen  and (min-width: 768px)  {
.button-burgermenu{
  display: none;
}

.header-nav-list{
  display: flex;
  align-items: center;
 

  gap: 40px;
 
  
  
}

.header-addres{
  font-style: normal;
  display: block;

}

.header-addres-list{
  display: flex;
  flex-direction: column;
  gap: 12px;


}
}



@media screen   and (min-width:1158px){

  .header-addres-list{
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
}


.section-one {
  display: block;
  margin: 0 auto;
  background: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
}
.section-one-h {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  max-width: 496px;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px;
}
.section-one-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: #4d5ae5;
}
.section-one-button:hover,
.section-one-button:focus {
  background: #404bbf;
}

.section-two {
}
.section-two-delete {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-two-ul {
  display: flex;
  gap: 24px;
}
.section-two-li {
  width: calc((100% -72px) / 4);
}
.section-two-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-two-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.section-three-ot {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section-three-ul {
  display: flex;
  gap: 24px;
  border-radius: 0px 0px 4px 4px;
}
.section-three-li {
  background-color: #fff;
  width: calc((100% -72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.bass {
  padding: 32px 0;
}

.section-three-person {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-three-skills {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.section-four {
}
.section-four-op {
}
.section-four-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.section-four-li {
  background-color: #fff;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four-fun {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-four-des {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.home {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.section-four-li:focus,
.section-four-li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.link {
  display: inline-block;
  margin-bottom: 16px;
}
.con {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.icon {
  margin: 24px 100px;
}
.icon-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 8px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.iconli {
  width: 40px;
  height: 40px;
}
.icon-a {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-a:hover,
.icon-a:focus {
  background-color: #404bbf;
}
.icon-svg {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}
.img {
  position: relative;
  overflow: hidden;
}
.background-txt {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px 40px 32px;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-four-li:focus,
.section-four-li:hover p {
  transform: translateY(0%);
}
.footer-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}
.div-con {
  display: flex;
  align-items: baseline;
}
.zil {
  margin-right: 120px;
}

.content-foo {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.icon-foot-ul {
  display: flex;
  gap: 16px;
}
.icon-foot-li {
  width: 40px;
  height: 40px;
}

.icon-foot-a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-svg {
  fill: #f4f4fd;
}
.icon-foot-a:focus,
.icon-foot-a:hover {
  background-color: #31d0aa;
}
.backfon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: visibility, opacity;
}
.backfon.is-open
 {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.modal {
  min-height: 584px;
  width: 408px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button {
  display: flex;
  padding: 0;
  line-height: 0%;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}

.modal-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  margin-top: 18px;
}
.form-div {
  margin-bottom: 8px;
}
.form-ladel {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  line-height: 1.17;
}
.form-div-one {
  position: relative;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid #4d5ae5;
}

.form-svg {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-svg {
  fill: #4d5ae5;
}
.line-form {
  left: 0;
}
.button-submit {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  display: block;
  margin: 24px 96px 24px 95px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background: #4d5ae5;
}
.button-submit:hover,
.button-submit:focus {
  background: #404bbf;
}
.box-coment {
  margin-bottom: 16px;
}

.box-textarea:focus {
  border: 1px solid #4d5ae5;
}

.box-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  padding-left: 27px;
  padding-top: 4px;
  outline: transparent;
  background-color: transparent;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-vector {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.press-checkbox:checked + .checkbox-label .checkbox-vector {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.checkbox-label {
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox-label-privacy {
  line-height: 1.17;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.checkbox {
  margin-bottom: 24px;
}
.sub{
  margin-left: 80px;

}
.txt-sub {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.sub-form {
  display: flex;
  gap: 24px;
}
.input-sub {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.input-sub::placeholder {
   color #ffffff
}
.button-sub{
  display:flex;
  border-radius: 4px;
padding: 8px 24px;
min-width: 165px;
height: 40px;
align-items: center;
justify-content: center;
 font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px; 
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
background: #4d5ae5;
border: none;

}
.button-submit-svg{
  margin-left: 16px;
  fill: #fff;



}

.mobile-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events:none ;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateX(100%);
    padding: 72px 153px 368px 16px ;
}
.mobile-menu.is-opens{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0%);
}

.mob-nav{
  display: flex;
  gap: 40px;
}
.mob-nav-link{
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
}
 .color-s{
  color: #404bbf;
 }

 .mob-but{
 display: flex;
  padding: 0;
  line-height: 0%;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }
 .mob-but:hover,
.mob-but:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}
.mob-nav-link:focus,
.mob-nav-link:hover {
  color: #404bbf;
}

.ulmob{
 padding-top:41px ;

}
.mob-addres-list{
  display: flex;
  flex-direction: column;
padding-top: 168px;
padding-left: 16px;
gap: 24px;

}

@media screen  and (min-width: 768px)  {
.mobile-menu{
  display: none;
}

}